html {
    color: #ccc;
    background-color: rgb(31, 30, 30); 
}


.App {
    margin: 50px auto;
    max-width: 400px;
}

.Symbols{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;

}

.ImageWrapper{
    max-width: 45%;
}
.Flag {
    border: 1px solid #ccc;
}

.Map {
    margin: 40px 0;
}

.dropdown,
.dropdown-trigger,
 .dropdown-menu{ 
    width: 100%; 
}

td {
    display: center;
    color: #ccc;
    background-color: rgb(31, 30, 30);
}

.content h1{
    color: #ccc;
    background-color: rgb(31, 30, 30);
}

.title {
    color: #ccc;
    background-color: rgb(31, 30, 30); 
}

.hero,
.hero-body,
.title{
    background-color: rgb(31, 30, 30);
    font-weight:bold;
    color: #485fc7;
}

.input{
    color: #ccc;
}